{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href='{{ theme_url }}/images/logo.png' />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% endblock head %}

    {% block stylesheets %}
        {% do assets.addCss('theme://css/main.css', 99) %}
        {% do assets.addCss('theme://css/fontawesome-all.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}

    {% block javascripts %}
        {% do assets.addJs('theme://js/jquery.min.js', 100) %}
        {% do assets.addJs('theme://js/browser.min.js') %}
        {% do assets.addJs('theme://js/breakpoints.min.js') %}
        {% do assets.addJs('theme://js/util.js') %}
        {% do assets.addJs('theme://js/main.js', {group:'bottom'}) %}
    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}

</head>
    <body class="is-preload {{ page.header.body_classes }}">

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">
                        <div class="inner">

                            <!-- Header -->
                                <header id="header">
                                    <a href="{{ site.url}}" class="logo"><strong>{{ site.title }}</strong> by {{ site.author.name }}</a>
                                    {% if count(site.social_icons) > 0 %}
                                    <ul class="icons">
                                        {% for social in site.social_icons %}
                                        <li><a href="{{ social.url }}" class="icon brands fa-{{ social.icon }}"><span class="label">{{ social.label }}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </header>

							<!-- Content -->
                                <section>
                                {% block content %}
                                    {{ page.content }}
                                {% endblock%}
                                </section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
                               {% include 'partials/navigation.html.twig' %}

							<!-- Featured Section -->
                                {% include 'partials/featured.html.twig' %}

                            <!-- Contact Section -->
                                {% include 'partials/contact.html.twig' %}

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}

    </body>
</html>