<section>
    <header class="major">
        <h2>Get in touch</h2>
    </header>
    <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
    <ul class="contact">
        <li class="icon solid fa-envelope"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
        <li class="icon solid fa-phone">{{ site.author.phone }}</li>
        <li class="icon solid fa-home">{{ site.address.street1 }}<br />
        {{ site.address.city }}, {{ site.address.state }} {{ site.address.zip }}</li>
    </ul>
</section>